<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BlazingTrails.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <handlerSettings>
    <handlerSetting name="shadowCopyDirectory" value=".\ShadowCopyDirectory" />
    <handlerSetting name="enableShadowCopy" value="true" /> <!-- Considering removing and just using presence of  shadowCopyDirectory to indicate whether to copy or not -->
    <handlerSetting name="cleanShadowCopyDirectory" value="false" /> <!-- Clean shadow copy directory on startup each time-->
  </handlerSettings>

      </aspNetCore>
    </system.webServer>
  </location>


</configuration>
<!--ProjectGuid: 3A04DEF3-E91F-4F33-A934-1141E66185C2-->