@page "/search/{SearchTerm}"
@page "/search/{SearchTerm}/maxlength/{Maxlength:int}"
@inject HttpClient Http

<PageTitle>Search Trails - Blazing Trails</PageTitle>


<h3> Search Results for "@SearchTerm"</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
</nav>


@if (_searchResults == null)
{
    <p>Loading search results...</p>
}
else
{
    <TrailDetails Trail="_selectedTrail" />

    <div class="grid">
        @foreach (var trail in _searchResults)
        {
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected" />
        }
    </div>
}


@code {

    private IEnumerable<Trail>? _searchResults;

    private Trail? _selectedTrail;

    [Parameter]
    public string SearchTerm { get; set; } = default!;

    [Parameter]
    public int? MaxLength { get; set; }


    private void HandleTrailSelected(Trail trail)
        => _selectedTrail = trail;



    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allTrails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
            _searchResults = allTrails!.Where(x => x.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase)
                                                   || x.Location.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase));
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading trail data: {ex.Message}");
        }
    }


}


