@page "/greeting"

@for (var cnt = 0; cnt < _greeting.Count; cnt++)
{
    <p>@_greeting[cnt]</p>
}

@code {

    List<string> _greeting = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _greeting.Add("Welcome");

        await Task.Delay(1000);
        _greeting.Add("to");
        StateHasChanged();

        await Task.Delay(3000);
        _greeting.Add("Blazor in Action");
    }
}


